 /*   background: url('https://imagetolink.com/ib/jtlKJMvsp9.jpg') no-repeat center center/cover;
 background: url('https://imagetolink.com/ib/jtlKJMvsp9.jpg') no-repeat center center/cover;
 */


.logo {
 /* margin-right: 20px; */
  height: 32px;
 
  /* width:120px; */

}
.logo1 {
  height: 20px;
  width:50px;
  color: white;
  margin-top: 1px;
}
.log{
border-radius: 10px;
background-color: rgba(45, 56, 139, 0.1);
border: none;
color: rgba(16, 30, 142, .1);
margin-right: 65px;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(204, 204, 204);
}

.container {
  width: 100%;
  height: 60%;
   background: url('https://imagetolink.com/ib/jtlKJMvsp9.jpg') no-repeat  ;
  margin-left:0px;
  margin-right:0px;
  max-width:1420px;
  max-height:400px;
  background-size: cover;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: rgba(39, 5, 255, 0.5);
  z-index: 2;
  transition: background 0.5s ease-in-out;
}

.container:hover::before {
  background: hsla(206, 54%, 37%, 0.75); 

}

header {
 
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.hero {
  margin-top: 5%;
  position: relative;
  z-index: 2;
}

.hero h3{
  font-size: 48px;
  font-weight: bold;
  margin-left: 110px;
  color: white;
}

.hero p {
  font-size: 18px;
  max-width: 600px;
  color: white;
  margin-left: 110px;
  z-index: 2;
}


 

.incident-toolbar {
  background-color: rgba(16, 30, 142, .75);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-weight: bold;
}

.head-toolbar {
  background-color: rgba(16, 30, 142, .75);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  margin-bottom: 4px;

}
.head-toolbar1 {
  background-color: rgba(16, 30, 142, .75);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 5px ;
  font-weight: bold;
  border-radius: 6px;
  margin-bottom: 4px;
}
.spacer {
  flex: 1 1 auto;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 8px;
}

.main-content {
  display: flex;
  height: calc(100vh - 50px); 
  background-color: #15009b;
}

.main-content > div {
  flex: 1;
  overflow: auto;
  padding: 10px;
}

.left-section {
  background-color: #e4e4e4;
}

.right-section {
  background-color: #e4e4e4;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; 
}

.image-feed {
  position: relative;
  overflow: hidden;
}

.image-feed img {
  width: 100%; /* Ensure full width of the container */
  height: 88px; /* Fixed height to ensure consistent sizing */
  display: block;
  object-fit: fill; /* Ensures the image covers the area without distortion */
}

.image-feed .corner-icon {
  position: absolute;
  width: 46px; /* Adjust size as needed */
  height: 16px; /* Adjust size as needed */
}
.image-feed .top-right {
  top: 1px;
  right: 3px;
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 5px;
}

.image-feed .bottom-left {
  bottom: 1px;
  left: 3px;
  background-color: rgba(0, 13, 255, 0.5); 
  border-radius: 5px;
}
.image-feed .top-left {
  top: 3px;
  left: 3px;
  background-color: rgba(51, 0, 255, 0.5); 
  border-radius: 5px;
}

.image-feed .corner-text {
  position: absolute;
  color: white;
  font-size: 10px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 5px;
}

.image-feed .bottom-right {
  bottom: 0;
  right: 0;
}

.image-feed .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 30, 142, .75);
  /* background: hsla(206, 54%, 37%, 0.75);  */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-feed:hover .overlay {
  opacity: 1;
}

.video-stream {
  width: 100%; 
  height: 51%;
  max-width: 50vw;
  max-height: 51vh; 
  margin: left; 
  margin-bottom: 10px;
}

.right-section .new-images {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.right-section .image-row {
  display: flex;
  gap: 30px;
}

.right-section .incident-image {
  width: 100%;
  height: auto;
  object-fit: contain; 
}
.cards {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  margin-top: 2px;
  
}

.card {
  position: relative; 
  flex: 0 1 calc(33.33% - 10px); 
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  height: 100%; 
  margin-top: 2px;
  padding: 0; 
}

.card img {
  width: 100%; 
  height: 100%; 
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 30, 142, .75);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: Roboto;
  font-size: 18px;
}

.card:hover .overlay {
  opacity: 1;
}

.mat-paginator {
  margin-top: 2px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.custom-paginator {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: roboto;
  font-weight: bold;

  .mat-paginator-page-size-label,
  .mat-paginator-range-label,
  .mat-paginator-icon {
    color: rgb(0, 0, 0);
    font-family: roboto;
    font-weight: bold;
  }

  .mat-form-field-infix {
    color: rgb(0, 0, 0);
    font-family: roboto;
    font-weight: bold;
  }

  .mat-select-value-text {
    color: rgb(0, 0, 0) !important;
    font-family: roboto;
    font-weight: bold;
  }

  .mat-option-text {
    color: rgb(0, 0, 0); 
    font-family: roboto;
    font-weight: bold;
  }

  .mat-select-arrow {
    color: rgb(0, 0, 0);
    font-family: roboto;
    font-weight: bold;
  }

  .mat-paginator-navigation-next,
  .mat-paginator-navigation-previous,
  .mat-paginator-navigation-first,
  .mat-paginator-navigation-last {
    color: rgb(0, 0, 0);
    font-family: roboto;
    font-weight: bold;
  }

  .mat-paginator-navigation-next button,
  .mat-paginator-navigation-previous button,
  .mat-paginator-navigation-first button,
  .mat-paginator-navigation-last button {
    color: rgb(0, 0, 0);
    font-family: roboto;
    font-weight: bold;
  }
}
.cards .timer {
  position: absolute;
  bottom: 3px; 
  right: 3px;
  color: white;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 5px;
  border-radius: 5px;
}

.cards .date {
  position: absolute;
  bottom: 3px; 
  left: 3px; 
  color: white;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 5px;
  border-radius: 5px;
}
.cards .camera {
  position: absolute;
  top: 3px; 
  left: 3px; 
  color: white;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 5px;
  border-radius: 5px;
}
.cards .plant {
  position: absolute;
  top: 3px;
  right: 3px;
  color: white;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 5px;
  border-radius: 5px;
}

.toolbar {
  display: flex;
  align-items: center;
  background-color: #f0f0f0; 
  padding: 5px;
}

.nav-button {
  border: none;
  background: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
}

.search-input {
  flex-grow: 1;
  padding: 5px;
  margin: 0 10px;
  font-size: 16px;
  border: 1px solid #0c005e;
  border-radius: 4px;
}

.camera-select {
  border: none;
  background: none;
  color: rgb(251, 251, 251);
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  background-color: rgba(0, 14, 211, 0.1)
}

.camera-select1 {
  border: 1px ;
  color: rgb(0, 0, 0);
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
  background: hsla(206, 54%, 37%, 0.75); 
}
.nav-arrow {
  color: #ffffff;
  margin: 0 10px;
  cursor: grab;
  font-weight: bold;
}






