<div class="incident-toolbar">
  <img src="https://imagetolink.com/ib/v4XHO1t3ze.png" alt="User" class="logo">
  <span>‎|‎ ‎ ‎‎ </span>
  <span style="font-weight: 500;margin-right:50px;">AI Driven Real Time Incident Management</span>
  <span class="spacer"></span>
  <span style="font-weight: 400;">Abdullah</span>
  <span>‎ ‎ ‎|‎ ‎ ‎‎ </span>
  <img src="https://imagetolink.com/ib/OquMI5z1sC.jpg" alt="User" class="user-avatar"> 
  <span class="user-info">
   
  </span>
</div>
<!-- <div class="container">
  <header class="header">
    <img src="https://imagetolink.com/ib/v4XHO1t3ze.png" alt="Tasnee Logo" class="logo" />
  </header> -->
<!--  
    <div class="container">
      <header>
        <img src="https://imagetolink.com/ib/v4XHO1t3ze.png" alt="TASNEE Logo" class="logo">
      </header>
      <div class="hero">
       <h3><b style="color: rgb(5, 0, 54);">AI Driven Incident Detection And Management</b></h3>
        <p>Continuous surveillance through cameras enables instant detection of anomalies and reports to the supervisors of respective factories.</p>
      </div>
    </div> -->
 
      <!-- <mat-label>Choose a date</mat-label> -->
      
      <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
      <mat-datepicker #picker></mat-datepicker>
<div class="main-content">
  <div class="left-section">
    <div class="head-toolbar1">
      <span class="nav-arrow" >&#x2039;</span>
      <span style="font-weight: 500;">Today</span>
      <span class="nav-arrow">&#x203A;</span>
      <mat-icon  mat-raised-button (click)="picker.open()" class="logo1">event<input [matDatepicker]="picker" class="log"></mat-icon>
      
      <span class="spacer"></span>
      <mat-icon style="color: rgb(255, 255, 255);padding: 2px;padding-right:45px;">search</mat-icon>
      <select (change)="sortPlants($event)" class="camera-select" style="font-weight: 500;">
        <option value="all" class="camera-select1" style="font-weight: 500;">All Plants</option>
        <option *ngFor="let num of plantNumbers" [value]="num" class="camera-select1">Plant {{ num }}</option>
      </select>
      
    </div>

    <img *ngIf="videoSrc" [src]="videoSrc" class="video-stream" alt="Annotated video stream">
    <div class="image-grid">
      <div class="image-feed" *ngFor="let feed of imageFeeds; let i = index" (click)="uploadVideo(i)">
        <img [src]="feed.image">
        <img src="https://imagetolink.com/ib/IK7IQ6slWd.jpg" class="corner-icon top-left">
        <div class="corner-text top-right">Camera {{feed.cameraNumber}}</div>
        <div class="corner-text bottom-left">Plant {{feed.plantNumber}}</div>
        <div class="corner-text bottom-right timer" id="timer-{{i}}">00:00:00</div>
        <div class="overlay">View</div>
      </div>
    </div>
  </div>

  <div class="right-section">
    <div class="head-toolbar1">
      <span style="font-weight: 500;">Incidents Recorded ({{clickCount}})</span>
      <span class="spacer"></span>
      <select (change)="sortPlants($event)" class="camera-select">
        <option value="all"  class="camera-select1">All Plants</option>
        <option *ngFor="let num of plantNumbers" [value]="num" class="camera-select1">Plant {{ num }}</option>
      </select>
    </div>

    <div class="new-images">
      <ngb-carousel *ngIf="currentRightImages.length > 0">
        <ng-template ngbSlide *ngFor="let item of currentRightImages">
          <div class="picsum-img-wrapper">
            <img [src]="item.newImage" alt="Incident Image" class="incident-image">
          </div>
          <div class="carousel-caption">
         
          </div>
        </ng-template>
      </ngb-carousel>
    </div>

    <div class="cards">
      <div class="card" *ngFor="let item of currentRightImages">
        <img [src]="item.newImage" alt="Incident Image" class="incident-image">
        <img [src]="item.modelImage" alt="Model Image" class="model-image">
        <div class="corner-text top-left camera">{{item.cameraName}}</div>
        <div class="corner-text top-right plant">Plant {{item.plantNumber}}</div>
        <div class="corner-text bottom-left date">{{item.date}}</div>
        <div class="corner-text bottom-right timer">{{item.timestamp}}</div>
        <div class="overlay" style="font-weight:20px;">Review Incident</div>
      </div>
    </div>
  </div>
</div>
